{% extends 'base.html' %}
{% block content %}

<div class="container">
    <ul>
        
    {% for x in data %} 
        <div class="card" style="width: 18rem;">
            <img src="{{x.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{x.title}}</h5>
              <p class="card-text"></p>
              <p class="card-text">{{x.author}}</p>
              <a href="" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    {% endfor %}
    </ul>
</div>

{% endblock content %}