{% extends 'base.html' %}
{% block content %}

<div class="container">
    <ul>
        
    {% for x in data %} 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FF4500" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
    </svg>
 
    {{x.score}}
 
        <div class="card" style="width: 48rem;">
         
          {% if x.url is not None %}
            <img src="{{x.url}}" class="card-img-top" alt="...">
          {% else %}
           nothin toi show
          {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{x.title}}</h5>
              <p class="card-text"></p>
              <p class="card-text">{{x.author}}</p>
              <a href="https://www.reddit.com{{x.permalink}}" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    {% endfor %}
    </ul>
</div>

{% endblock content %}